body {
  background-color: black;
  color: white;
  font: 14px "Trebuchet MS", Arial, Helvetica;
}
h1 {
  vertical-align: top;
}
table.powertable {
  background-color: transparent;
  background-image: url("../images/power_bar.png"); 
  width: 400px;
  background-repeat: no-repeat;
  background-size: 400px 36px;
  vertical-align: top;
}
td.powercol {
  background-color: transparent;
  vertical-align: top;
  width: 36px;
}
p {
  background-image: url("../images/power_bar.png"); 
  background-repeat: no-repeat;
}
img.powericon {
  top: 2px;
  left: 2px;
  vertical-align: top;
}
ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
  color: white;
  font: 24px "Trebuchet MS", Arial, Helvetica;
  vertical-align: top;
}

a:visited {
  text-decoration: none;
  color: white;
  font: 24px "Trebuchet MS", Arial, Helvetica;
  vertical-align: top;
}

a:hover {
  text-decoration: none;
  color: white;
  font: 24px "Trebuchet MS", Arial, Helvetica;
  vertical-align: top;
}

a:active {
  text-decoration: none;
  color: white;
  font: 24px "Trebuchet MS", Arial, Helvetica;
  vertical-align: top;
}

.img-container { position: relative; }

.img-container .top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

div.incarnate {
  border-radius: 10px;
  border: 1px solid white;
  padding: 5px;
  width: 400px;
}

@media only screen and (max-width: 820px) {
  .layout {
    column-count: 1;
  }
}
@media only screen and (min-width: 820px) {
  .layout {
    column-count: 2;
  }
}
@media only screen and (min-width: 1240px) {
  .layout {
    column-count: 3;
  }
}