#Character Build Text Substitutions
#Fri Aug 04 20:12:16 2023
#POWERSETS
brawling=Street Justice
quills=Spines
energy_mastery_brute=Energy Mastery
#POWERS
#INHERENT
inherent.prestige_dvd_glidep=Prestige Power Slide
#FLY
flight.combat_flight=Hover
flight.group_fly=Aerobatics
flight.aerobatics=Group Fly
#DUAL BLADES
dual_blades.aoe_bridge=Typhoon's Edge
dual_blades.follow_up=Blinding Feint
dual_blades.high_low=One Thousand Cuts
dual_blades.light_opening=Nimble Slash
dual_blades.moderate_bridge=Ablating Strike
dual_blades.moderate_opening=Power Slice
dual_blades.special_1=Vengeful Slice
dual_blades.special_2=Sweeping Strike
#LEAPING
leaping.leap=Acrobatics
leaping.long_jump=Super Leap
#NECRO
necromancy.skeletal_warriors=Grave Knight
#TITAN WEAPONS
titan_weapons.build_up=Build Momentum
titan_weapons.shatter_armor=Rend Armor
#TELEPORT
teleportation.mass_translocation=Long Range Teleport
teleportation.long_range_teleport=Mass Translocation
#
#ENHANCEMENTS
crafted_luck_of_the_gambler_a=Luck of the Gambler: Defense/Endurance
crafted_luck_of_the_gambler_b=Luck of the Gambler: Defense/Recharge
crafted_luck_of_the_gambler_c=Luck of the Gambler: Endurance/Recharge
crafted_luck_of_the_gambler_d=Luck of the Gambler: Defense/Endurance/Recharge
crafted_luck_of_the_gambler_e=Luck of the Gambler: Defense
crafted_luck_of_the_gambler_f=Luck of the Gambler: Defense/Increased Recharge Speed Global
#
superior_attuned_hecatomb_a=Hecatomb: Damage (Superior) Unique
superior_attuned_hecatomb_b=Hecatomb: Damage/Recharge (Superior) Unique
superior_attuned_hecatomb_c=Hecatomb: Damage/Recharge/Accuracy (Superior) Unique
superior_attuned_hecatomb_d=Hecatomb: Recharge/Accuracy (Superior) Unique
superior_attuned_hecatomb_e=Hecatomb: Damage/Endurance (Superior) Unique
superior_attuned_hecatomb_f=Hecatomb: Chance for Negative Energy Damage Unique
#
crafted_hecatomb_a=Hecatomb: Damage (Superior) Unique
crafted_hecatomb_b=Hecatomb: Damage/Recharge (Superior) Unique
crafted_hecatomb_c=Hecatomb: Damage/Recharge/Accuracy (Superior) Unique
crafted_hecatomb_d=Hecatomb: Recharge/Accuracy (Superior) Unique
crafted_hecatomb_e=Hecatomb: Damage/Endurance (Superior) Unique
crafted_hecatomb_f=Hecatomb: Chance for Negative Energy Damage Unique
#
crafted_doctored_wounds_a=Doctored Wounds: Healing/Endurance
crafted_doctored_wounds_b=Doctored Wounds: Endurance/Recharge
crafted_doctored_wounds_c=Doctored Wounds: Healing/Recharge
crafted_doctored_wounds_d=Doctored Wounds: Healing/Endurance/Recharge
crafted_doctored_wounds_e=Doctored Wounds: Healing
crafted_doctored_wounds_f=Doctored Wounds: Recharge
#